*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    /* background-color: bisque; */
    background-image: url("https://i.pinimg.com/originals/60/91/1d/60911d5491c374041135a0ab167118f3.gif");
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
        
}
h1{
   font-style:italic; 
   color: orange;
   
}
div{
    color: silver;
    text-align:center;
    font-size: x-large;
    }